
{%extends 'base.html'%}
{%load static%}
{%block title%}
    Asosiy sahifa
{%endblock%}
{%block weather%}
<div class="header-top d-none d-md-block m-0" style="background: #3586ff;">
    <div class="container">
        <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="header-info-left">
                    <ul>     
                        <li><img src="{% static 'assets/img/icon/header_icon1.png'%}" alt="">{{temperature}}˚C , Tashkent, {{description}}</li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block loading%}
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
              <div class="preloader-circle"></div>
              <div class="preloader-img pere-text">
                  <img src="{% static 'assets/img/logo-loader2.png'%}" alt="">
              </div>
          </div>
      </div>
  </div>
{%endblock%}


{%block content%}
    <main>
    <!-- Trending Area Start -->
    <div class="trending-area fix">
        <div class="container" >
            <div class="trending-main">
                <!-- Trending Tittle -->
                <br><br>
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <!-- Trending Top -->
                        <a href="{%url 'news' main.id%}">
                            <div class="trending-top mb-30">
                                <div class="trend-top-img">
                                    <img src="{{main.banner_image.url}}" alt="">
                                    <div class="trend-top-cap">
                                        <span>{{main.category}}</span>
                                        <h2 style="color: white; background-color: rgba(0, 0, 0, 0.615);" class="p-2">{{main.title}}</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Trending Bottom -->
                        <div class="trending-bottom">

                            <div class="row">
                                {%for i in main3%}
                                <div class="col-lg-4 col-md-4">
                                    <a href="{%url 'news' i.id%}">
                                <div class="single-bottom mb-35">
                                    <div class="trend-bottom-img mb-30" style="overflow: hidden; height: 150px; background-image: url({{i.banner_image.url}}); background-size: 100%; background-position: center; background-repeat: no-repeat;">
                                        
                                    </div>
                                    <div class="trend-bottom-cap">
                                        <span class="color1">{{i.category}}</span>
                                        <span>{{i.created_at.date}}</span>
                                        <h4>{{i.title}}</h4>
                                    </div>
                                </div>
                                    </a>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <!-- Riht content -->


                    <div class="col-xl-4 col-lg-5 justify-content-center">
                        <h3>The latest news</h3>
                        {%for i in newest5%}
                        
                        <a href="{%url 'news' i.id %}">
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img image col-4" style=" overflow: hidden; height: 100px; background-image: url({{i.banner_image.url}}); background-size: 100%; background-repeat: no-repeat; background-position: center;">
                               
                            </div>
                            <div class="trand-right-cap col-8">
                                <span class="color1">{{i.category}}</span>
                                <span>{{i.created_at.date}}</span>
                                <h6>{{i.title}}</h6>
                            </div>
                        </div>
                    </a>
                        {%endfor%}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Trending Area End -->
    <!--   Weekly-News start -->
     
    <!-- End Weekly-News -->
   <!-- Whats New Start -->
    <section class="whats-news-area pt-50 pb-20" id="12">
        <div class="container">
            <div class="row m-2">
            <div class="col-lg-12">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-3 col-md-3">
                        <div class="section-tittle mb-30">
                            <h3>Whats New</h3>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="properties__button">
                            <!--Nav Button  -->                                            

                            <!--End Nav Button  -->
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12">
                        <!-- Nav Card -->
                        <div class="tab-content" id="nav-tabContent">
                            <!-- card one -->
                            <div class="tab-pane fade show active s" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">           
                                <div class="whats-news-caption">
                                    <div class="row">
                                    <style>
                                        .news-card {
                                        background-color: #fff;
                                        border-radius: 10px;
                                        overflow: hidden;
                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                        margin-bottom: 20px;
                                    }

                                    .news-image {
                                        height: 200px; /* Adjust as needed */
                                        overflow: hidden;
                                    }

                                    .news-image img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover; /* Ensure the image covers the entire container */
                                    }

                                    .news-content {
                                        padding: 20px;
                                    }

                                    .news-title {
                                        font-size: 1.2rem;
                                        margin-bottom: 10px;
                                    }

                                    .news-category {
                                        font-size: 0.9rem;
                                        color: #888;
                                    }

                                    </style>
                                        {%for i in all%}
                                        <div class="col-lg-4 col-md-6 mb-4 col-12  ">
                                            <a href="{%url 'news' i.id%}">
                                                <div class="single-what-news">
                                                    <div class="news-card">
                                                        <div class="news-image">
                                                            <img src="{{ i.banner_image.url }}" alt="News Image">
                                                        </div>
                                                        <div class="news-content" style="height: 130px;">
                                                            <h5 class="news-title">{{ i.title }}</h5>
                                                            <p class="news-category">{{ i.category }}</p>

                                                          
                                                        </div>
                                                        <div class="col-12 justify-content-end d-flex">
                                                            <p style="font-size: 13px;"> {{i.created_at.date}}</p>
                                                        </div>
                                                    </div>
                                            </a>
                                            </div>
                                        </div>
                                        {%endfor%}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- End Nav Card -->
                    </div>
                </div>
            </div>

            </div>
        </div>
    </section>
    <!-- Whats New End -->
    <!--   Weekly2-News start -->     
    <!-- End Weekly-News -->
    <!-- Start Youtube -->

    <!-- End Start youtube -->
    <!--  Recent Articles start -->
         
    <!--Recent Articles End -->
    <!--Start pagination -->
    <div class="pagination-area pb-45 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12" id="2">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                {%if all.has_previous%}
                              <li class="page-item"><a class="page-link" href="?page={{all.previous_page_number}}#12"><span class="flaticon-arrow roted"></span></a></li>
                                <li class="page-item"><a class="page-link" href="?page={{all.previous_page_number}}#12">{{all.previous_page_number}}</a></li>
                                {%endif%}
                                <li class="page-item active"><a class="page-link" href="#">{{all.number}}</a></li>
                                {%if all.has_next%}
                                <li class="page-item"><a class="page-link" href="?page={{all.next_page_number}}#12">{{all.next_page_number}}</a></li>
                              <li class="page-item"><a class="page-link" href="?page={{all.next_page_number}}#12"><span class="flaticon-arrow right-arrow"></span></a></li>
                              {%endif%}
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End pagination  -->
    </main>

{%endblock%}
  