{%extends 'base.html'%}
{%load static%}
{%block title%}
   {{news.title}}
{%endblock%}
{%block content%}
   <!--================Blog Area =================-->

<section class="blog_area single-post-area ">
   <br>
   <div class="container">
       <div class="row">
           <div class="col-xl-8 posts-list col-lg-7">
               <div class="single-post">
                  <h2>{{news.title}}</h2>
                       <ul class="blog-info-link mt-3 mb-4">
                           
                           <li><a href="#"><i class="fa fa-calendar"></i>{{news.created_at.date}}</a></li>
                       </ul>
                   <div class="feature-img">
                       <img class="img-fluid" src="{{ news.banner_image.url }}" alt="">
                   </div>
                   <div class="blog_details">
                       
                       <div class="richfield">
                           {{ news.text | safe }}
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-xl-4 col-lg-5">
               <div class="blog_right_sidebar">

                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     
                     {%for i in recents%}
                    
                        <div class="media post_item">
                           <div style="width: 100px; height: 100px; background-image: url({{i.banner_image.url}}); background-size: 100%; background-position: center; background-repeat: no-repeat;"></div>
                           <div class="media-body">
                              <a href="{%url 'news' i.id%}"><h3>{{i.title}}</h3> </a>
                              </a>
                              <p>{{i.created_at}}</p>
                           </div>
                        </div>
                    
                     {%endfor%}
                  </aside>

               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-12">
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active s" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">           
                        <div class="whats-news-caption">
                           <hr> 
                           <h3>Related posts</h3>
                           <br>
                            <div class="row">
                            <style>
                                .news-card {
                                background-color: #fff;
                                border-radius: 10px;
                                overflow: hidden;
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                margin-bottom: 20px;
                            }
   
                            .news-image {
                                height: 100px; /* Adjust as needed */
                                overflow: hidden;
                            }
   
                            .news-image img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover; /* Ensure the image covers the entire container */
                            }
   
                            .news-content {
                                padding: 20px;
                            }
   
                            .news-title {
                                font-size: 10px;
                                margin-bottom: 10px;
                            }
   
                            .news-category {
                                font-size: 10px;
                                color: #888;
                            }
   
                            </style>
                            
                                {%for i in all%}
                                <div class="col-lg-2 col-md-4 mb-4 col-sm-6 col-6">
                                    <a href="{%url 'news' i.id%}">
                                        <div class="single-what-news">
                                            <div class="news-card">
                                                <div class="news-image">
                                                    <img src="{{ i.banner_image.url }}" alt="News Image">
                                                </div>
                                                <div class="news-content" style="height: 100px;">
                                                    <h6 class="news-title">{{ i.title }}</h6>
                                                    <p class="news-category">{{ i.category }}</p>
   
                                                  
                                                </div>
                                                <div class="col-12 justify-content-end d-flex">
                                                    <p style="font-size: 10px;"> {{i.created_at.date}}</p>
                                                </div>
                                            </div>
                                    </a>
                                    </div>
                                </div>
                                {%endfor%}
                                
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Nav Card -->
            </div>
      </div>

   </section>
   <style>
      .richfield img{
         width: 100% !important ;
         height: auto !important;
      }
   </style>
   <!--================ Blog Area end =================-->

{%endblock%}